@import "./mixin";
@import "./global";
/*公共樣式*/
.fs13{
    font-size: 13px;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mr30{
    margin-right: 30px;
}
.mr40{
    margin-right: 40px;
}
.mr80{
    margin-right: 80px;
}
.mr250{
    margin-right: 250px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
.mb80{
    margin-bottom: 80px;
}
.p30{
    padding: 30px;
}
.pt10{
    padding-top: 10px
}
.ptb30{
    padding-top: 30px;
    padding-bottom: 30px;
}
.plr20{
    padding-left: 20px;
    padding-right: 20px;
}
.goHref{
    cursor: pointer;
}
.container{
    margin: 0 auto;
}
.icon{
    display: inline-block;
    background-position: center;
    background-repeat: no-repeat;
}
table {
    table-layout: fixed;
    
    td{
        word-wrap:break-word;
        word-break:break-all;
    }
}
.userSelect_none{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
//表單icon
.form-wrapper{
    .icon-phone{
        background-image: url('../images/手机.png');
    }
    .icon-pwd{
        background-image: url('../images/输入密码.png');
    }
    .icon-user{
        background-image: url('../images/昵称.png');
    }
    .icon-sms{
        background-image: url('../images/验证码.png');
    }
    .icon-email{
        background-image: url('../images/用户中心邮箱.png');
    }
}
/*默认头像*/
.noPhoto{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 80px;
    background-color: $primary-color;
}
.no-data{
    width: 100%;
    padding: 80px 0 60px;
    text-align: center;
    img{
        vertical-align: bottom;
        width: 100px;
    }
    p{
        font-size: 15px;
        color: #999;
        margin-top: 15px;
    }
}
/**/
.allhead{
    width: 100%;
    z-index: 99;
    height: 80px;
    padding: 16px 0;
    background-color: #2c2c2c;
    
    .head-wrap{
        width: 1200px;
        margin: 0 auto;
        height: 100%;
        
        .logo{
            height: 100%;
            
            img{
                height: 100%;
            }
            .title{
                margin-left: 10px;
                p{
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1;
                    margin-top: 6px;
                }
                samp{
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1;
                    margin-top: 10px;
                }
            }
        }
    }
    
    &.on{
        height: 68px !important;
        padding: 14px 0 !important;
        background-color: #2c2c2c !important;
        .title p{
            margin-top: 3px !important;
        }
    }
}
.head-nav-wrap{
    overflow: hidden;
    margin-left: 12px;
    padding: 29px 30px;
    
    .head-nav{
        font-size: 14px;
        color: #fff;
        margin: 0 30px;
        float: left;
        line-height: 20px;
        transition: color .4s;
        -ms-transition: color .4s;
        -moz-transition: color .4s;
        -webkit-transition: color .4s;
        
        i{
            margin-left: 12px;
        }
        
        .icon-up{
            width: 10px;
            height: 5px;
            background-image: url('../images/页眉下拉.png');
            background-size: 10px;
        }
        
        &:hover{
            cursor: pointer;
            color: $primary-color;
        }
        &.active{
            color: $primary-color;
        }
    }
    
}
.head-user-wrap{
    padding: 29px 0;
    position: relative;
    
    .head-user{
        position: relative;
        transition: color .4s;
        -ms-transition: color .4s;
        -moz-transition: color .4s;
        -webkit-transition: color .4s;
        
        samp{
            color: $primary-color;
            font-size: 14px;
            cursor: pointer;
        }
        .icon{
            width: 12px;
            height: 16px;
            background-size: 12px;
            margin-right: 10px;
            position: relative;
            top: 3px;
        }
        .icon-order{
            background-image: url('../images/页眉订单.png');
        }
        .icon-wallet{
            background-image: url('../images/页眉钱包.png');
        }
        .icon-user{
            background-image: url('../images/页眉user.png');
        }
        .head-triangle{
            width: 18px;
            height: 11px;
            opacity: 0;
            background-image: url('../images/页眉三角形.png');
            background-size: contain;
            position: absolute;
            top: 41px;
            left: 16px;
            z-index: 99;
            opacity: 0;
        }
        .down-wrap{
            width: 0;
            height: 0;
            opacity: 1;
            overflow: hidden;
            position: absolute;
            top: 16px;
            left: 50%;
            z-index: 98;
            transition: opacity,width,height .4s;
            -ms-transition: opacity,width,height .4s;
            -moz-transition: opacity,width,height .4s;
            -webkit-transition: opacity,width,height .4s;
            line-height: 1;
        }
        // 用戶中心
        &.user{
            .down-wrap{
                margin-left: -80px;
                
                ul{
                    width: 100%;
                    background-color: #fff;
                    border: 1px solid #eee;
                    box-shadow: 0 0 3px rgba(200,200,200,.6);
                    padding: 0 0 7px;
                    
                    li{
                        width: 100%;
                        text-align: center;
                        padding: 7px 0;
                        
                        samp{
                            font-size: 14px;
                            color: #333;
                        }
                        
                        .icon-downUser{
                            background-image: url('../images/用户中心黑色.png');
                        }
                        .icon-advertisement{
                            background-image: url('../images/我的广告.png');
                        }
                        .icon-invitation{
                            background-image: url('../images/邀请好友.png');
                        }
                        .icon-lgout{
                            background-image: url('../images/退出登录.png');
                        }
                        
                        &:hover{
                            samp{
                                color: $primary-color;
                            } 
                            .icon-downUser{
                                background-image: url('../images/用户中心点击红色.png');
                            }
                            .icon-advertisement{
                                background-image: url('../images/我的广告点击.png');
                            }
                            .icon-invitation{
                                background-image: url('../images/邀请好友点击.png');
                            }
                            .icon-lgout{
                                background-image: url('../images/退出登录点击.png');
                            }
                        }
                    }
                }
            }
        }
        //錢包
        &.wallet{
            .down-wrap{
                margin-left: -350px;
                
                .wrap{
                    border: 1px solid #eee;
                    box-shadow: 0 0 3px rgba(200,200,200,.6);
                }
                .zzc{
                    margin-top: 15px;
                    .icon-zzc{
                        background-image: url('../images/总资产.png');
                    }
                }
                .wallet-account-wrap{
                    margin-top: 14px;
                    p{
                        display: inline-block;
                        width: 50%;
                        float: left;
                        margin-bottom: 15px;
                        color: #333;
                        font-size: 16px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        
                        samp{
                            color: #333;
                            font-size: 16px;
                        }
                    }
                }
                .wallet-account-mx{
                    margin-top: 10px;
                    .list{
                        width: 100%;
                        overflow: hidden;
                        
                        p{
                            display: inline-block;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            color: #333;
                            float: left;
                            font-size: 14px;
                            margin-bottom: 16px;
                            
                            &:nth-of-type(1){
                                width: 70px;
                            }
                            &:nth-of-type(2){
                                width: 145px;
                            }
                            &:nth-of-type(3){
                                width: 145px;
                            }
                        }
                    }
                }
                
                .wallet-account-btn{
                    padding: 20px 0;
                    div{
                        cursor: pointer;
                    }
                    
                    .icon-cz{
                        background-image: url('../images/充币.png');
                    }
                    .icon-tx{
                        background-image: url('../images/提币.png');
                    }
                }
            } 
        }
        
        
        &:hover{
            cursor:  pointer;
            .head-triangle{
                opacity: 1;
            }
            .down-wrap{
                padding: 34px 3px 3px;
                opacity: 1;
            } 
            &.user .down-wrap{
                width: 126px;
                height: 210px;
            } 
            &.wallet .down-wrap{
                width: 410px;
                height: 276px;
            } 
        }
    }
}
/*首页头部*/
.index-head{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    height: 96px;
    padding: 16px 0;
    transition: all .4s;
    -ms-transition: all .4s;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    .logo{
        width: 129px;
    }
    .head-wrap{
        width: 1150px;
        height: 100%;
        
        .logo{
            height: 100%;
            
            img{
                height: 100%;
            }
            .title{
                margin-left: 10px;
                p{
                    font-size: 16px;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1;
                    margin-top: 14px;
                    transition: all .4s;
                    -ms-transition: all .4s;
                    -moz-transition: all .4s;
                    -webkit-transition: all .4s;
                }
                samp{
                    display: inline-block;
                    font-size: 12px;
                    color: #fff;
                    font-weight: bold;
                    line-height: 1;
                    margin-top: 10px;
                }
            }
        }
    }
    .head-nav-wrap{
        padding: 22px 30px;
        opacity: 0;
    }
    .head-button-wrap{
        transition: all .4s;
        -ms-transition: all .4s;
        -moz-transition: all .4s;
        -webkit-transition: all .4s;
        padding: 15px 0;
        opacity: 0;
        
        .head-button{
            margin: 0 10px;
        }
    }
    .head-user-wrap{
        padding: 22px 0;
        opacity: 0;
    }
    &.on{
        height: 68px !important;
        padding: 14px 0 !important;
        background-color: #2c2c2c !important;
        .title p{
            margin-top: 3px !important;
        }
        .head-nav-wrap{
            padding: 10px 30px;
            opacity: 1;
        }
        .head-button-wrap{
            padding: 7px 0;
            opacity: 1;
        }
        .head-user-wrap{
            padding: 10px 0;
            opacity: 1;
        }
    }
    
    .head-user-wrap{
        .head-user{
            .head-triangle{
                top: 35px;
            }
            .down-wrap{
                padding-top: 28px;
            }
        }
        
    }
}
.swiper-pagination{
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center;
    
    .swiper-pagination-switch {
        display: inline-block;
        width: 32px;
        height: 10px;
        margin: 3px;
        -webkit-border-radius: 8px;
        border-radius: 8px;
        border: none;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
    }
    .swiper-active-switch {
        background-color: #f15353;
    }
}
.index-swiper{
    height: 690px;
    overflow: hidden;
    position: relative;
    
    .banner{
        width: 100%;
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .arrow{
        width: 54px;
        height: 54px;
        position: absolute;
        top: 50%;
        margin-top: -27px;
        opacity: 0;
        z-index: 9;
        -webkit-transition: all .2s ease-in-out 0s;
        -moz-transition: all .2s ease-in-out 0s;
        transition: all .2s ease-in-out 0s;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        cursor: pointer;
        
        &.arrow-left{
            left: 20px;
            background-image: url(../images/banner-left.png);
        }
        &.arrow-right{
            right: 20px;
            background-image: url(../images/banner-right.png);
        }
    }
    
    &:hover{
        .arrow{
            opacity: 1;
        }
    }
}
.allfooter{
    width: 100%;
    min-height: 64px;
    background-color: #3c3c3c;
    
    .foot-text{
        line-height: 64px;
        color: #fff;
        font-size: 14px;
    }
    
    .contact-info-wrap{
        margin-left: 44px;
        
        .contact-info{
            height: 64px;
            padding: 14px 0;
            margin: 0 26px;
            
            .qrcode-tip{
                width: 36px;
                height: 36px;
                cursor: pointer;
                position: relative;
                
                img{
                    width: 100%;
                }
                .qrcode{
                    width: 0;
                    height: 0;
                    overflow: hidden;
                    opacity: 0;
                    transition: all .4s;
                    -ms-transition: all .4s;
                    -moz-transition: all .4s;
                    -webkit-transition: all .4s;
                    position: absolute;
                    bottom: 40px;
                    left: 50%;
                    z-index: 99;
                    margin-left: 0;
                    background-color: #fff;
                    img{
                        width: 100%;
                    }
                }
                &:hover{
                    .qrcode{
                        width: 124px;
                        height: 124px;
                        opacity: 1;
                        margin-left: -62px;
                        padding: 3px;
                    }
                }
            }
        }
    }
    
    .contact-txt{
        height: 64px;
        overflow: hidden;
        padding: 25px 0;
        
        p{
            color: #fff;
            font-size: 14px;
            padding: 0 10px;
            line-height: 1;
            transition: color .4s;
            -ms-transition: color .4s;
            -moz-transition: color .4s;
            -webkit-transition: color .4s;
            
            img{
                height: 14px;
                vertical-align: bottom;
                position: relative;
                top: -1px;
                margin-right: 10px;
            }
            
            &.cur-pointer{
              border-right: 1px solid #585858;  
            }
            
            &:hover{
                &.cur-pointer{
                    color: $red-color;
                }
            }
        }
    }
    
}
.index-section1{
    overflow: hidden;
    
    .section-item{
        width: 33%;
        float: left;
        text-align: center;
        padding: 54px 0;
        
        .image img{
            width: 60px;
            height: 60px;
        }
        
        .caption{
            padding-top: 23px;
            
            h3{
                margin-top: 4px;
                margin-bottom: 18px;
                font-size: 18px;
                font-weight: bold;
                
            }
            p{
                font-size: 14px;
                line-height: 26px;
                margin-bottom: 10px;
                color: #333;
            }
        }
    }
}

.index-section2{
    width: 100%;
    background-image: url('../images/download-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    .wrap{
        overflow: hidden;
        position: relative;
        padding-top: 70px;
    }
    .index-section2-phone{
        width: 365px;
        position: absolute;
        bottom: 0;
        left: -10px;
        z-index: 9;
        
        img{
            width: 100%;
            vertical-align: bottom;
        }
    }
    
    .upload{
        padding-top: 25px;
        margin-right: 78px;
        position: relative;
        z-index: 10;
        
        h2{
            color: #fff;
            font-size: 32px;
            margin-top: 20px;
            line-height: 1.1;
            margin-bottom: 18px;
            letter-spacing: 2px;
        }
        p{
            font-size: 16px;
            padding: 10px 0;
            color: #fff;
        }
    }
    .button-wrap{
        overflow: hidden;
        margin-top: 35px;
        position: relative;
        z-index: 10;
        
        .button{
            float: left;
            width: 183px;
            height: 41px;
            line-height: 41px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            background-color: #fff;
            padding-left: 16px;
            padding-right: 30px;
            text-align: center;
            transition: all .4s;
            -ms-transition: all .4s;
            -moz-transition: all .4s;
            -webkit-transition: all .4s;
            
            .icon{
                width: 16px;
                height: 20px;
                position: relative;
                transition: all .4s;
                -ms-transition: all .4s;
                -moz-transition: all .4s;
                -webkit-transition: all .4s;
                
                &.icon-ios{
                    background-image: url('../images/iOSicon.png');
                    background-size: 100% 19px;
                    top: 3px;
                }
                &.icon-and{
                    background-image: url('../images/Androidicon.png');
                    background-size: 100% 20px;
                    top: 4px;
                }
            }
            
            samp{
                display: inline-block;
                font-size: 16px;
                color: $red-color;
                margin-left: 10px;
            }
            
            &:hover{
                cursor: pointer;
                background-color: $red-color;
                
                .icon-ios{
                    background-image: url('../images/iOSbai.png');
                }
                .icon-and{
                    background-image: url('../images/Androidbai.png');
                }
                
                samp{
                    color: #fff;
                }
            }
        }
    }
    
    .qrcode{
        width: 140px;
        text-align: center;
        padding: 50px 0;
        margin-right: 60px;
        .img{
            width: 140px;
            height: 140px;
            padding: 3px;
            background-color: #fff;
        }
        img{
            width: 100%;
            vertical-align: bottom;
        }
        p{
            color: #fff;
            padding: 20px 0 10px;
            font-size: 14px;
        }
    }

}

/*登录注册头部*/
.lr-head{
    height: 110px;
    background-color: #333;
    padding: 20px 0;
    
    .head-wrap .logo .title{
        margin-left: 24px;
        p{
            font-size: 26px;
            margin-top: 9px;
        }
        samp{
            font-size: 14px;
            margin-top: 12px;
        }
    }
    
}
.head-button-wrap{
    padding: 25px 0;
    
    .head-button{
        width: 48px;
        border-radius: 5px;
    }
}
.login-container{
    width: 100%;
    height: 550px;
    background-image: url();
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
    .login-swiper{
        height: 550px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
        
        .banner{
            width: 100%;
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        
        .swiper-pagination{
            bottom: 20px;
        }
        .swiper-pagination .swiper-active-switch {
            background-color: rgba(255,255,255, .8);
        }
    }
    .container{
        position: relative;
        z-index: 10;
    }
    .login-form{
        height: 420px;
        position: absolute;
        right: 0;
        top: 65px;
        padding: 50px 40px;
        
        .title{
            text-align: center;
        }
        .text-wrap{
            .finPwd:hover{
                color: $red-color;
            }
        }
    }
}
.login-form{
    width: 404px;
    background-color: rgba(255,255,255,.95);
    padding: 50px 0;
    
    .title{
        font-size: 22px;
        color: #616161;
        font-weight: normal;
        margin-bottom: 40px;
    }
    .text-wrap{
        margin-top: 10px;
        
        div{
            font-size: 14px;
            color: #666;
        }
    }
    .form-btn-item{
        margin-top: 50px;
    }
}
.register-container{
    .login-form{
        width: 400px;
        padding: 60px 0 100px;
    }
    .form-item{
        margin-bottom: 20px;
    }
    .text-wrap{
        .checkTxt{
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            
            .icon{
                width: 16px;
                height: 16px;
                background-size: contain;
                background-image: url('../images/选框（未选）.png');
                position: relative;
                top: 3px;
                cursor: pointer;
                
                &.active{
                    background-image: url('../images/选框（已选）.png');
                }
            }
            p{
                display: inline-block;
                font-size: 14px;
                color: #666;
                cursor: default;
                
                samp{
                    color: $red-color;
                    cursor: pointer;
                }
            }
        }
    }
}

.all-head{
    .head-nav-wrap{
        padding: 14px 30px;
    }
    .head-user-wrap{
        padding: 14px 0;
    }
    .head-button-wrap{
        padding: 10px 0;
    }
}
.user-container{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 40px 0 50px;
    
    .left-wrap{
        width: 214px;
        
        .left-title{
            width: 214px;
            height: 44px;
            text-align: center;
            line-height: 44px;
            background-image: url('../images/用户中心背景.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            left: -1px;
            color: #fff;
            font-size: 16px;
        }
        
        .left-item{
            width: 100%;
            padding: 12px 0;
            
            .title-item{
                width: 100%;
                text-align: center;
                padding: 12px 0;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                padding-right: 28px;
                
                samp{
                    font-size: 16px;
                    color: #333;
                }
                .icon{
                    width: 18px;
                    height: 18px;
                    margin-right: 10px;
                    position: relative;
                    top: 3px;
                }
                .icon-ziliao{
                    background-image: url('../images/我的资料.png');
                    background-size: auto 17px;
                }
                .icon-anquan{
                    background-image: url('../images/账户安全.png');
                    background-size: 17px;
                }
                .icon-xinren{
                    background-image: url('../images/受信任.png');
                    background-size: auto 17px;
                }
            }
            .nav-item{
                width: 214px;
                position: relative;
                left: -1px;
                text-align: center;
                padding: 12px 0;
                font-size: 14px;
                color: #808080;
                transition: color,background-color .4s;
                -ms-transition: color,background-color .4s;
                -moz-transition: color,background-color .4s;
                -webkit-transition: color,background-color .4s;
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                &.on,
                &:hover{
                    background-color: #fdf5f5;
                    color: $primary-color;
                }
            }
        }
    }
    
    .right-wrap{
        width: 965px;
        min-height: 425px;
    }
}
.photoWrap{
    width: 80px;
    
    .photo{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        background-size: contain;
    }
}
.userInfo-wrap{
    .info{
        .nickname{
            line-height: 80px;
            font-size: 18px;
            color: #2d2d2d;
        }
        .txt{
            font-size: 16px;
            color: #333;
            margin-bottom: 25px;
            
            .no{
                color: $red-color;
            }
        }
    }
}
.security-wrap{
    padding: 18px 38px;
    
    .security-item{
        width: 100%;
        overflow: hidden;
        margin-bottom: 60px;
        line-height: 1.1;
        position: relative;
        padding-left: 58px;
        
        p{
            font-size: 16px;
            color: #333;
            line-height: 28px;
            margin-bottom: 6px;
        }
        samp{
            font-size: 14px;
            color: #999;
        }
        
        .icon{
            width: 28px;
            height: 28px;
            background-size: contain;
            position: absolute;
            top: 7px;
            left: 0;
        }
        .icon-zijnmima{
            background-image: url('../images/资金密码.png');
        }
        .icon-email{
            background-image: url('../images/绑定邮箱.png');
            top: 0;
        }
        .icon-mima{
            background-image: url('../images/登录密码.png');
        }
        .icon-google{
            background-image: url('../images/谷歌验证.png');
        }
        
        .btn{
            position: absolute;
            top: 50%;
            right: 0;
            margin-top: -15px;
            
            .am-button{
                width: 70px;
                height: 30px;
                line-height: 30px;
                border-radius: 5px;
                font-size: 13px;
                
                &.am-button-ghost{
                    line-height: 28px !important;
                }
            }
            
        }
    }
}
.trust-wrap{
    .trust-form{
        width: 100%;
        td{
            padding: 30px 10px;
            border-bottom: 1px solid #eee;
            
            &:first-child{
                width: 130px;
                padding-left: 50px;
                border-bottom: 0;
            }
            &:last-child{
                width: 220px;
                padding-right: 50px;
            }
        }
        
        .photoWrap{
            width: 60px;
            .photo{
                width: 60px;
                height: 60px;
            }
            
            .noPhoto{
                font-size: 24px;
                line-height: 60px;
            }
        }
        .txt1{
            font-size: 16px;
            line-height: 1.5;
            color: #484848;
            
        }
        .txt2{
            text-align: center;
            line-height: 1.1;
            p{
                font-size: 16px;
                color: #333;
                margin-bottom: 6px;
            }
            samp{
                font-size: 13px;
                color: #333;
            }
        }
    }
}

.position{
    font-size: 14px;
    color: #c9c9c9;
    padding: 10px 0 20px;
    samp{
        color: $primary-color;
    }
}
.setSecurity-wrap{
    .title{
        font-size: 16px;
        color: #333;
        line-height: 1;
        border-left: 3px solid $primary-color;
        padding-left: 20px;
        margin-bottom: 60px;
    }
}
.setSecurity-from-wrap{
    width: 400px;
    margin: 0 auto;
}
.identity-wrap{
    .identity-top{
        width: 964px;
        position: relative;
        left: -0.5px;
        background-color: #fbf7e9;
        padding: 20px 30px;
        
        .icon-warning{
            width: 14px;
            height: 49px;
            background-image: url('../images/用户中心注意.png');
            background-size: 14px;
            background-position: 0 6px;
            margin-right: 10px;
        }
        p{
            display: inline-block;
            width: 864px;
            font-size: 14px;
            color: #fbab46;
            line-height: 1.8;
        }
    }
    .identity-content{
        margin: 20px 30px;
        .top{
            padding: 20px 30px;
            background-color: #fafafa;
            .icon-identity{
                width: 45px;
                height: 30px;
                margin-right: 22px;
                background-image: url('../images/用户中心身份证.png');
                margin-top: 3px;
            }
            div{
                .txtWrap{
                    margin-bottom: 5px;
                    .txt{
                        display: inline-block;
                        font-size: 16px;
                        color: #333;
                        margin-right: 20px;
                    }
                    .am-button{
                        width: 50px;
                        height: 20px !important;
                        line-height: 18px !important;
                        font-size: 12px !important;
                        border-radius: 5px;
                    }
                }
                .txt2{
                    font-size: 12px;
                    color: #999;
                }
            }
        }
        
        .identity-from-wrap{
            width: 460px;
            margin: 30px;
            
            .form-btn-item{
                padding-left: 100px;
                .am-button{
                    width: 136px;
                    height: 36px;
                    line-height: 36px;
                }
            }
        }
    }
    
    .identity-warn{
        padding: 50px 0;
        text-align: center;
        
        h3{
            font-size: 18px;
            color: #484848;
            margin-bottom: 50px;
        }
        .img{
            width: 180px;
            height: 180px;
            margin: 0 auto;
            padding: 5px;
            img{
                width: 100%;
                vertical-align: bottom;
            }
        }
        p{
            font-size: 14px;
            color: #484848;
            margin-top: 15px;
        }
    }
    
}
.wallet-container{
    width: 1200px;
    margin: 0 auto;
    
    .wallet-top-wrap{
        width: 100%;
        padding: 30px 0;
        
        ul{
            width: 100%;
            overflow: hidden;
            
            li{
                float: left;
                height: 44px;
                padding: 0 22px;
                line-height: 42px;
                font-size: 16px;
                color: #333;
                text-align: center;
                border: 1px solid transparent;
                border-radius: 22px;
                margin-left: 40px;
                transition: color,border-color .4s;
                -ms-transition: color,border-color .4s;
                -moz-transition: color,border-color .4s;
                -webkit-transition: color,border-color .4s;
                
                &:first-child{
                    margin-left: 0;
                }
                
                &.on,
                &:hover{
                    color: $primary-color;
                    border: 1px solid $primary-color;
                }
                
            }
        }
    }
    .wallet-account-wrap{
        padding: 25px 40px;
        
        .yue{
            font-size: 18px;
            color: #333;
            samp{
                display: inline-block;
                color: $red-color;
                font-size: 24px;
                margin-right: 3px;
            }
        }
        .account{
            margin-top: 20px;
            samp{
                display: inline-block;
                font-size: 12px;
                color: #999;
                margin-right: 30px;
                
                i{
                    font-style: normal;
                }
            }
        }
        
    }
    
    .wallet-address-wrap{
        .address-nav{
            background-color: #fafafa;
            
            ul{
                padding-left: 20px;
                li{
                    float: left;
                    font-size: 16px;
                    color: #999;
                    border-bottom: 1px solid transparent;
                    line-height: 46px;
                    padding: 0 10px;
                    margin: 0 30px;
                    transition: color,border-color .4s;
                    -ms-transition: color,border-color .4s;
                    -moz-transition: color,border-color .4s;
                    -webkit-transition: color,border-color .4s;
                    
                    &.on,
                    &:hover{
                        cursor: pointer;
                        color: $red-color;
                        border-bottom: 1px solid $red-color;
                    }
                }
            }
        }
        
    }
    
    .wallet-address{
        padding: 30px 40px;
        
        .address-Wrap{
            .warn{
                .icon-warn{
                    width: 10px;
                    height: 38px;
                    background-size: 10px;
                    background-image: url('../images/提示.png');
                    background-position: 0 4px;
                    margin-right: 8px;
                }
                p{
                    display: inline-block;
                    width: 1100px;
                    font-size: 12px;
                    color: #333;
                    line-height: 1.6;
                    
                    i{
                        font-style: normal;
                        color: $red-color;
                    }
                }
            }
        }
        
    }
    .receive-wrap{
        .address{
            font-size: 18px;
            color: #333;
            margin-bottom: 20px;
            
            samp{
                display: inline-block;
                font-size: 24px;
                margin: 0 14px 0 3px;
            }
            
            .icon-qrcode{
                width: 18px;
                height: 18px;
                background-image: url('../images/二维码.png');
                background-size: contain;
                position: relative;
                
                &:hover{
                    cursor: pointer;
                    background-image: url('../images/二维码点击.png');
                    
                    .qrcode{
                        width: 200px;
                        height: 200px;
                        padding: 5px;
                        border: 1px solid #eee;
                    } 
                }
            }
            .qrcode{
                width: 0;
                height: 0;
                overflow: hidden;
                background-color: #fff;
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 99;
                transition: all .4s;
                -ms-transition: all .4s;
                -moz-transition: all .4s;
                -webkit-transition: all .4s;
                
                img{
                    width: 100%;
                    vertical-align: bottom;
                }
            }
        }
    }
    .sendOut-form-wrap{
        padding-top: 36px;
        
        .form-wrapper{
            .form-item-wrap{
                overflow: hidden;
                padding-left: 120px;
                
                .label{
                    width: 100px;
                }
            }
            .form-item{
                width: 360px;
                float: left;
            }
            .form-btn-item{
                margin-top: 20px;
                padding-left: 120px;
            }
        }
        
        .findPwd{
            font-size: 14px;
            line-height: 38px;
            color: $red-color;
        }
        
        .addressBtn{
            width: 124px;
            height: 38px;
            line-height: 38px;
        }
        
        .subBtn{
            width: 136px;
        }
    }
    
    
    .tradeRecord-wrap{
        .tradeRecord-wrap-title{
            width: 100%;
            line-height: 46px;
            font-size: 16px;
            padding-left: 40px;
            background-color: #fafafa;
        }
        
        .tradeRecord-top{
            width: 100%;
            ul{
                width: 100%;
                overflow: hidden;
                background-color: #fff;
                padding: 0 20px;
                
                li{
                    float: left;
                    line-height: 74px;
                    color: #666;
                    font-size: 14px;
                    margin: 0 20px;
                    
                    &.on,
                    &:hover{
                        cursor: pointer;
                        color: $red-color;
                    }
                }
                
            }
        }
        
    }
    .tradeRecord-list-wrap{
        width: 100%;
        padding-bottom: 50px;
        
        .list-item{
            width: 100%;
            overflow: hidden;
            border-bottom: 1px solid $border-color;
            padding: 14px 30px;
            
            div{
                float: left;
                font-size: 16px;
                line-height: 2;
                
                &:nth-of-type(1){
                    width: 240px;
                }
                &:nth-of-type(2){
                    width: 140px;
                }
                &:nth-of-type(3){
                    width: 220px;
                }
                &:nth-of-type(4){
                    width: 530px;
                }
            }
            
            &.title{
                background-color: #fafafa;
            }
        }
    }
}
.wAddress-dialog{
    .am-modal-body{
        ul li{
            width: 100%;
            font-size: 15px;
            margin: 15px 0;
            
            &.on,
            &:hover{
                cursor: default;
                color: $red-color;
            }
        }
    }
}
.addWAddress-dialog{
    z-index: 1000;
    .form-wrapper{
        .form-item-wrap{
            .label{
                font-size: 14px;
                width: 90px;
            }
        }
        .form-item-sms{
            .form-item{
                width: 220px;
            }
            .sms-button{
                width: 100px;
            }
        }
    }
    .setSecurityAccount,
    .remark{
        width: 100%;
        padding-left: 100px;
    }
    .setSecurityAccount{
        margin-top: 5px;
        
        samp{
            display: inline-block;
            font-size: 14px;
            line-height: 26px;
        }
        .icon-switch{
            width: 40px;
            height: 26px;
            background-size: contain;
            background-image: url('../images/关.png');
            position: relative;
            top: 7px;
            margin-left: 80px;
            
            &.on{
                background-image: url('../images/开.png');
            }
        }
    }
    
    .remark{
        margin: 15px 0;
        font-size: 12px;
        color: #999;
    }
}
.invitation-wrap{
    .invitation-top{
        height: 346px;
        background-image: url('../images/邀请好友-bg.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .invitation-content{
        width: 1200px;
        margin: 0 auto 20px;
    }
    .invitation-content{
        padding: 30px 80px;
        
        .txt{
            p{
                color: $red-color;
                font-size: 14px;
                text-align: center;
                samp{
                    color: $red-color;
                    font-size: 24px;
                }
            }
            p:first-child{
                margin-bottom: 15px;
            }
        }
        .am-button{
            width: 130px;
            height: 40px;
            line-height: 40px;
        }
    }
    .activity-wrap{
        width: 1200px;
        margin: 0 auto 80px;
        padding: 40px 60px;
        
        .titleWrap{
            text-align: center;
            samp{
                display: inline-block;
                font-size: 22px;
                line-height: 1;
                position: relative;
                top: -2px;
                margin: 0 20px;
            }
        }
        .activity-content{
            margin-top: 30px;
            font-size: 14px;
            line-height: 1.8;
        }
    }
    
    .qrcode-dialog{
        .am-modal{
            width: 300px;
        }
        .qrcodeWrap{
            width: 100%;
            text-align: center;
            img{
                width: 100%;
                vertical-align: bottom;
            }
            p{
                font-size: 15px;
                color: #999;
                margin-top: 10px;
            }
        }
    }
    
    .invitation-dialog{
        .am-modal{
            width: 800px;
        }
        .am-modal-body{
            padding: 30px;
        }
        .titleWrap{
            color: #484848;
            font-size: 15px;
            margin-bottom: 20px;
        }
        
        .hrefWrap{
            padding: 20px;
            border-radius: 3px;
            
            p{
                font-size: 15px;
                color: #484848;
            }
        }
    }
}
.article-wrap{
    padding: 15px;
    line-height: 1.8;
    
    a {
        color: #337ab7;
        text-decoration: underline;
    }
}

/*分页*/
.pagination-wrap {
    overflow: hidden;

    p {
        display: inline-block;
        overflow: hidden;
        height: 38px;
        margin: 40px 0 20px;

        a,
        span {
            display: inline-block;
            width: 38px;
            height: 38px;
            line-height: 38px;
            font-size: 15px;
            color: #a9a9a9;
            background-color: #fff;
            border-top: 1px solid #e7e7e7;
            border-bottom: 1px solid #e7e7e7;
            border-right: 1px solid #e7e7e7;
            float: left;
        }

        samp {
            display: inline-block;
            line-height: 38px;
            font-size: 15px;
            color: #393939;
            float: left;
            margin: 0 8px;
        }

        .active {
            color: #fff;
            background-color: $primary-color;
            border-top: 1px solid $primary-color;
            border-bottom: 1px solid $primary-color;
        }

        .prev {
            border-left: 1px solid #e7e7e7;
        }

        .next,
        .prev {
            line-height: inherit;

            img {
                height: 14px;
                margin-top: 12px;
            }
        }

        .pagination-btn {
            width: 60px;
            line-height: 36px;
            border: 1px solid $primary-color;
            font-size: 16px;
            color: #fff;
            background-color: $primary-color;
            border-radius: 3px;
        }

        .pagination-ipt {
            width: 66px;
            height: 38px;
            float: left;
            font-size: 15px;
            border: 1px solid #E7E7E7;
            text-align: center;
            background-color: transparent;
        }

        a:hover,
        span:hover {
            color: $primary-color;
        }

        .active:hover,
        .pagination-btn:hover {
            cursor: pointer;
            color: #fff !important;
        }
    }
}
.dialog-pagination-wrap{
    
    p {
        height: 26px;
        margin: 20px 0;

        a,
        span {
            width: 26px;
            height: 26px;
            line-height: 26px;
            font-size: 13px;
        }

        samp {
            line-height: 26px;
            font-size: 13px;
            margin: 0 8px;
        }

        .next,
        .prev {
            img {
                height: 11px;
                margin-top: 7px;
            }
        }

        .pagination-btn {
            width: 50px;
            line-height: 24px;
            font-size: 13px;
        }

        .pagination-ipt {
            width: 30px;
            height: 26px;
            font-size: 13px;
        }

    }
}
.guideIos-wrap{
    .section1{
        width: 100%;
        text-align: center;
        padding-top: 60px;
        
        h3{
            font-size: 24px;
        }
        .img{
            width: 180px;
            height: 180px;
            margin: 50px auto 25px;
            padding: 5px;
            
            img{
                width: 100%;
            }
        }
        
        p{
            font-size: 12px;
            color: #484848;
        }
        
    }
    .wrap{
        width: 1100px;
        margin: 0 auto;
        position: relative;
        .img{
            img{
                vertical-align: bottom;
            }
        }
        .txt{
            width: 400px;
            
            h3{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 20px;
            }
            p{
                font-size: 14px;
                line-height: 2;
            }
        }
    }
    
    .section2{
        padding-top: 90px;
        
        .txt{
            margin-top: 75px;
        }
    }
    
    .section3{
        height: 420px;
        
        .img{
            position: relative;
            top: 90px;
        }
        
        .txt{
            margin-top: 155px;
        }
    }
    
    .section4{
        padding: 180px 0 120px;
        
        .txt{
            margin-top: 155px;
        }
    }
    
}















